{{template "header" .}}
<div class="container">
<section id="content-3-10">

    <h3>已上传文件信息</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>文件标号</th>
                    <th>文件名称</th>
                    <th>文件上传日期</th>
                    <th>文件查看</th>
                    <th>付款信息</th>
                    <th>文件删除</th>
                </tr>
            </thead>
            <tbody>
                {{range .FileInfoList}}
                <tr>
                    <ol>
                        <th>{{.Id}}</th>
                    </ol>
                    <th>{{.FileName}}</th>
                    <th>{{.FileUploadDate}}</th>
                    <th>
                        <a href="{{.FileUrl}}" >查看</a>
                    </th>
                    {{if .FilePayInfo}}
                    <th>已付款</th>
                    {{else}}
                    <th>
                        <a href="http://wxpay.jaxiu.cn/wxpay/wxpay/wxpay?op=pay&id={{.Id}}" >付款</a>
                    </th>
                    {{end}}
                    <th>
                        <a href="/delfile?op=del&id={{.Id}}" >删除</a>
                    </th>
                </tr>
                {{end}}
            </tbody>
        </table>
    
</section>
</div>


{{template "footer" .}}
