
{{define "navbar"}}
<div class="container">
    <a class="navbar-brand" href="/">{{.Title}}</a>
    <ul class="nav navbar-nav">
        <li {{if .IsHome}}class="active"{{end}}><a href="/">首页</a> </li>
        <li {{if .IsAllFileInfo}}class="active"{{end}}><a href="/allfileinfo">文件列表</a> </li>
        <li {{if .IsFileUpload}}class="active"{{end}}><a href="/file">文件上传</a></li>
        <li {{if .IsUserInfo}}class="active"{{end}}><a href="/userinfo">用户个人信息</a></li>

    </ul>


    <ul class="nav navbar-nav navbar-right">
        {{if .IsLogin}}
        <li><a href="/login?exit=true">退出</a></li>
        {{else}}
        <li><a href="/login">管理员登录</a></li>

        {{end}}
    </ul>
</div>
{{end}}